<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>{stag}</title>
<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" />
<link rel="stylesheet" href="/css/mainStyle.css" />
<link rel="stylesheet" href="/css/datepickr.css" />
<link rel="stylesheet" href="/css/markdown.css" />
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
<body>

	<div th:replace="./fragments/_topNav :: #header"></div>

	<input type="hidden" id="sessionUserId" name="sessionUserId" th:value="${session.sessionUser.id}" />
	
	<div id="group-header" class="content wrap" style="margin-top:50px; padding:10px 0;">
		<a style="display: inline-block" th:href="@{'/groups/'+${party.partyId}}">
		<span id="group-name" th:text="${party.partyName}"></span></a>
	</div>

	<div id="note-edit-container" class="content wrap">
		<ul id="temp-note-list">
			<li class="dropdown"><i class="fa fa-archive"></i><a href="#" data-toggle="dropdown">저장된 노트</a><i class="fa fa-sort-desc"></i></li>
			
			<ul class="dropdown-menu" style="display:none"></ul>
		</ul>
		<form id="noteForm" action="/notes" method="post">
			<input type="hidden" id="hiddenGroupId" name="partyId" th:value="${party.partyId}" />
			<input type="hidden" id="hiddenTempNoteId" name="tempNoteId" value="0" />
			<div th:if="${null != note}">
				<input type="hidden" name="_method" value="put" />
				<input type="hidden" name="noteId" th:value="${note.noteId}" />
			</div>
			<div id="editorBox">
				<div id="editorTools">
					<div id="calendar">
						<i id="datepickr" class="fa fa-calendar"></i>
						<input id="noteTargetDate" name="noteTargetDate" value="" />
					</div>
				</div>
				<textarea id="noteTextBox" rows="28" cols="28" name="noteText" form="noteForm"  th:value="${note}"></textarea>
				<div id="view-preview-template">
					<div id="previewBox" class="markdown-body"></div>
				</div>
			</div>
			<a id="escape-note" class="btn btn-pm-cancle" href="@{'/groups/'+${party.partyId}}">취소</a> 
			<input type="submit" class="btn btn-pm" value="작성" />
			<input type="button" class="btn btn-temp" onclick="tempSave();" value="임시저장" />
			<span id="temp-save-message"></span>
		</form>
	</div>
	<input id="hiddenGroupName" type="hidden" th:value="${party.partyName}" />
	<input id="hiddeNoteTargetDate" type="hidden" th:if="${note}" th:value="${note.noteTargetDate}" />

	<!-- 노트 모달을 위한 템플릿 -->
	<!-- <%@ include file="./commons/_note_popup.jspf"%> -->

	<script>
		var noteTargetDate = getTargetDate();
		var groupName = document.body.querySelector("#hiddenGroupName").value;
		window.addEventListener("load", function() {
			document.body.querySelector('#noteTargetDate').value = noteTargetDate;
		});

		var el = document.querySelector("#temp-note-list");
		var button = el.querySelector("a[data-toggle='dropdown']");
		var menu = el.querySelector(".dropdown-menu");
		var arrow = el.querySelector(".fa-sort-desc");

		button.onclick = function(event) {
			if(arrow.className === "fa fa-sort-desc") {
				menu.setAttribute("style", "display: ");
				arrow.setAttribute("class", "fa fa-sort-up");
			} else {
				menu.setAttribute("style", "display: none");
				arrow.setAttribute("class", "fa fa-sort-desc");
			}
		};
		
		function getTargetDate() {
			var elTargetDate = document.body.querySelector("#hiddeNoteTargetDate");
			if (null === elTargetDate) {
				return "";
			}
			return new Date(elTargetDate.value);
		}
	</script>
	<script src="/js/datepickr.js"></script>
	<script src="/js/editor.js"></script>
	<script src="/js/guinness.js"></script>
</body>
</html>
