<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title th:text="${group.groupName}">{stag}</title>
<link rel="stylesheet" href="/css/mainStyle.css" />
<link rel="stylesheet" href="/css/datepickr.css" />
<link rel="stylesheet" href="/css/markdown.css" />

<!-- 노트 캘린더 -->
<link rel="stylesheet" href="/css/dateRangePickerForBootstrap.css" />
<link rel="stylesheet" href="/css/daterangepicker-bs3.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
	<div id="backImg"
		style="background-repeat: no-repeat; margin-top: -50px; background-size: cover; position: fixed; width: 100%; height: 100%;"></div>

	<div th:replace="./fragments/_topNav :: #header"></div>

	<input type="hidden" id="sessionUserId" name="sessionUserId" th:value="${session.sessionUser.id}" />
	<h1 id="empty-message"
		style="position: absolute; color: #888; top: 300px; width: 100%; text-align: center;">새
		노트를 작성해주세요</h1>
	<div id="group-header" class="content wrap"
		style="margin-top: 50px; padding: 10px 0;">
		<a style="display: inline-block" th:href="@{'/groups/'+${group.groupId}}">
		<span id="group-name" th:text="${group.groupName}"></span></a>
		
		<div id="groupConfig">
			<input id="group-image" type="hidden" name="groupImage" th:value="${group.groupImage}" />
			<a th:href="@{'/groups/update/form/'+${group.groupId}}">
				<i th:if="${admin.id} eq ${session.sessionUser.id}" class="fa fa-cog" style="font-size:20px; padding-top:6px;"></i>
			</a>
		</div>
	</div>
	<div id="note-list-container" class="content wrap">
		<div id="create-note">
			<a th:href="@{'/notes/editor/groups/'+${group.groupId}}">
				<button id="create-new-button">
					<i class="fa fa-plus-circle"></i>
				</button>
			</a>
		</div>

		<div id="left-menu-container" class="side-menu-container">
			<div id="calendar-container">
				<div id="defaultCalendar"></div>
			</div>
			<div id="summary-container">
				<span class="menu-title attention"><i
					class="fa fa-exclamation"></i> 정보</span>
				<ul id="attention-list"
					style="list-style: none; margin: 5px 0 10px 0;"></ul>
				<span class="menu-title question"><i class="fa fa-question"></i>
					질문</span>
				<ul id="question-list"
					style="list-style: none; margin: 5px 0 10px 0;"></ul>
			</div>
		</div>

		<div id="group-member-container" class="side-menu-container">

			<form id="addMemberForm">
				<span class="addMemberTitle" style="font-weight: bold;">멤버추가</span><br />
				<input type="hidden" name="groupId" /> <input
					class="inputText" type="text" name="userId" /> <input
					class="inputBtn" type="submit" value="초대" /> <span
					class="addMemberAlert" style="visibility: hidden;">멤버추가메세지</span>
			</form>

			<div id="group-member-list">
				<span style="font-weight: bold;">멤버관리</span><br />
				<table id="group-member">
				</table>
			</div>
			<div class="leaveGroup" onclick="leaveGroup()"
				style="margin: 10px; cursor: pointer;">
				<span>그룹 탈퇴하기</span>
			</div>
		</div>
	</div>

	<template id="member-template">
	<tr>
		<td class="member-info" style="width: 140px; display: inline-block;">
			<div class="member-name" style="font-weight: bold;">멤버이름</div>
			<div class="member-id" style="color: #888; font-size: 9px;">멤버아이디</div>
		</td>
		<td class="member-util"
			style="font-size: 15px; display: inline-block;">
			<ul>
				<li><i class="fa fa-eye"></i> <span class="info">노트 숨기기</span>
				</li>
				<input style="display: none;" type="checkbox" class="memberChk" checked="true" value="" />
				<li class="member-delete" style="visibility: hidden;"><i
					class="fa fa-times"></i> <span class="info">멤버제외</span></li>
			</ul>
		</td>
	</tr>
	</template>

	<!-- 노트 모달을 위한 템플릿 -->
	<!-- <%@ include file="./commons/_note_popup.jspf"%> -->

	<script src="/js/notes.js"></script>
	<scrpit src="/js/note.js"></scrpit>
	<script src="/js/datepickr.js"></script>
	<script src="/js/moment.js"></script>
	<script src="/js/daterangepicker.js"></script>
	<script src="/js/group.js"></script>
	<script src="/js/guinness.js"></script>
</body>
</html>
