<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>stagway</title>
<link rel="stylesheet" href="/css/mainStyle.css" />

<script src="/js/search.js"></script>
<script src="/js/note.js"></script>
<script src="/js/guinness.js"></script>
<script src="/js/alarm.js"></script>

</head>
<body>
	<div id="header" class="navbar-header">
		<div class="headerBackground"></div>
		<div class="content wrap">
			<div id="leftTopBox">
				<a href="/" id="brand">
					<div style="color:white; display:block; float:left;   margin-top: 10px;">Singularity</div>
				</a>
				<div class="searchForm">
					<input id="searchText" type="text" /> <i class="fa fa-search"></i>
				</div>
			</div>
			<ul class="util">
				<li class="menu drop-down">
				<img class="avatar" th:src="|/img/profile/${session.sessionUser.image}|" style="margin-left: 15px;" />
					<div class="label">
						<a href="#" th:text="${session.sessionUser.name}">테스트이름</a>
					</div>
					<ul>
						<li><a href="/user/form"><span>내 정보</span></a></li>
						<li><a href="/user/logout"><span>로그아웃</span></a></li>
					</ul></li>
				<li class="menu drop-down">
					<div class="label" style="position: relative;">
						<div class="alarm-count" style="display: none;">2</div>
						<a href="#"></a> <i class="fa fa-bell"></i>
					</div>
					<div>
						<ul class="alarm-list"></ul>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div id="quickAlarm">
		<div class="fa fa-exclamation-triangle"></div>
		<div id="quickAlarmMessage">회원정보수정에 성공하였습니다.</div>
	</div>

	<script type="template" class="searchFormTemplate">
  <section>
	<div id='search-groups-container' style='display:none; border-bottom:1px solid #ccc; padding-bottom:2px;'>
		<span class='label'>그룹</span><ul class='search-groups'></ul>
	</div>
	<div id='search-notes-container' style='display:none;'>
		<span class='label'>노트</span><ul class='search-notes'></ul>
	</div>
  </section>
</script>

	<template id="searchResultTemplate">
	<div class="searchResultBody">
		<div class="searchResultText"></div>
		<span class="searchResultName"></span> <br /> <span
			class="searchResultDate"></span> <br /> <span class="spanOnSearch">
			on </span> <span class="searchResultGroup"></span>
	</div>
	</template>

	<template id="groupResultTemplate">
	<div class="searchResultBody">
		<span class="searchResultName"></span> <br />
		<div>
			그룹관리자: <span class="searchResultCaptain"></span>
		</div>
		<br /> <span class="searchResultDate"></span>
	</div>
	</template>
</body>
</html>