<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8"> </meta>
    <title>에디터 test</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <script src="/js/jspm_packages/system.js" /></script>

    <script src="/js/config.js" /></script>

    <script type="text/javascript">
        System.import('/js/app/editor.js');
    </script>
</head>
<body>
<div id="reactRenderingPoint"></div>
</body>
</html>