<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>stagway</title>
<link rel="stylesheet" href="/css/mainStyle.css" />
<link rel="stylesheet" type="text/css"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.js"
	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap-theme.min.css}" />
<link rel="stylesheet" href="/css/markdown.css" />


</head>
<body>
	<input type="hidden" id="sessionUserId" name="sessionUserId"
		th:value="${session.sessionUser.id}" />
	<div th:replace="./fragments/_topNav :: #header"></div>

	<div class="content wrap" style="margin-top: 100px">
		<ul id="group-container" class="group-list">
			<li id="create-new" style="text-align: center;"><i
				class="fa fa-plus-circle" style="font-size: 60px; margin-top: 25px;"></i>
			</li>
		</ul>
	</div>


	<template id="group-card-template"> <a class="group-card"
		href="#">
		<li><span class="group-name"></span>
			<div class="leaveGroup-btn">
				<i class="fa fa-user-times"></i>
			</div> <i class="fa fa-lock"></i> <input name="groupId" type="hidden" /></li>
	</a> </template>
	<template id="create-group-template">
	<form id="create-group-form" method="post">
		<div>
			그룹이름 <input type="text" name="groupName" autocomplete="off" required="required" />
		</div>
		<div>
			<input type="radio" name="status" value="F" checked="checked" /> <label>비공개</label>
			<input type="radio" name="status" value="T" /> <label>공개</label>
		</div>
		<br />
		<button class="btn btn-pm">만들기</button>
	</form>
	</template>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
		th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script
		src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
	
	<script src="/js/guinness.js"></script>
	<script src="/js/group.js"></script>
</body>
</html>