<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> </meta>
    <title></title>
</head>
<body>

<div class="background"></div>

<!--<div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>-->

<!--<script src="/js/facebook.js"></script>-->

<!--<fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>-->

<!--&lt;!&ndash; like status &ndash;&gt;-->
<!--<div id="status"></div>-->


<script type="text/javascript" src="/js/dist/app.min.js"></script>
</body>
</html>