<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> </meta>
    <title>front test</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <script src="/js/jspm_packages/system.js" /></script>

    <script src="/js/config.js" /></script>

    <script type="text/javascript">
        System.import('/js/app/main.js');
    </script>

</head>
<body>
스칼라와 react, springboot, jspm의 콤비네이션

<div id="reactRenderingPoint"></div>

<a href="/editor">테스트 용도의 에디터 페이지 링크</a>

</body>
</html>